<div class="map-container">
  <app-map-box></app-map-box>
</div>

<div class="row mainDisplay">
  <main class="container">
    <div class="">
      <p id="dayOfWeek">{{weather.currently.time * 1000 | date: 'fullDate'}}</p>
      <span id="temp">{{weather.currently.temperature | number:'1.0-0'}} °F</span>
      <span id="cond">{{weather.currently.summary}}</span>
      <p id="summary">{{weather.daily.summary}}</p>
      <p>
        <a href="https://darksky.net/poweredby/" target="_blank">
          Powered by Dark Sky</a>
      </p>
    </div>
  </main>
</div>
<div>
  <p id="lat">({{position.latitude | number}} , {{position.longitude | number}})</p>
</div>
